.pokemon-details{
    background-color: #ff4d4d;
    border: 5px solid #ff0000;
    border-radius: 65px;
    width: 95%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
}

div .left-info {
    width: 100%;
}

.pokemon-image {
    background-color: white;
    border: 3px solid black;
    text-align: center;
    border-radius: 20px;
}

img {
    height: 300px;
}

.description {
    text-align: center;
    background-color: white;
    border: 3px solid black;
    width: 100%;
    font-size: 25px;
    border-radius: 20px;
    font-family: Arial;
}

table {
    width: 96%;
    text-align: center;
    border-spacing: 15px;
    border-radius: 20px;
    margin-left: 2%;
    margin-top: 2%;
}

td {
    width: 50%;
    border-radius: 15px;
}

.pokemon-details-sub {
    border: 3px solid #109710;
    background-color: #33cc33;
    text-align: left;
    font-size: 20px;
}

.pokemon-options {
    font-size: 40px;
    color: black;
    font-family: Arial;
    text-decoration: none;
}
