
.pokemon-view{
  margin: 30px 0px 0px 0px;
}

.grid {
  text-align: center;
  max-width: 100%;
  margin: 0px auto;
  width: 60%;
  display: grid;
  grid-auto-rows: 220px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 25px;
}

.column {
  text-align: center;
  padding-top: 25px;
  font-family: "Calibri", Arial, monospace;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  box-shadow: 0px 6px 10px 1px rgba(36, 37, 38, 0.08);
  opacity: 0.5;
}

.column:hover{
  opacity: 1;
  background-image: -webkit-linear-gradient(90deg, azure 20%, #ff3333 100%);
  border: 5px solid #ff3333;
  color: white;
}
